{% extends 'base.html' %}




{% block content %}


<style>
    .login-container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(237, 234, 234);
    }
    .login-container form{
        height: 30rem;
        width: 50rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background-color: lightgray;
        box-shadow: 0px 0px 10px black;
    }
    .login-container form input{
        height: 2rem;
        width: 20rem;
        border: 1.5px solid gray;
        background: none;
        font-size: 1.1rem;
        padding: .2rem;
        outline: none;
        border-radius: 5px;
        color: crimson;
        font-weight: 600;
    }
    .login-container form input::placeholder{
        color: crimson;
    }
    .login-container form .btn-div .btn:hover{
        color: white;
        cursor: pointer;
        box-shadow: 0px 0px 10px black;
        background: linear-gradient(10deg , red , purple);
        transition: .5s;
        color: black;
    }
    .login-container form .btn-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    .login-container form .btn-div .btn{
        color: white;
        width: 20rem;
        font-size: 1.1rem;
        padding: .2rem 1rem;
        border: none;
        outline: none;
        background: linear-gradient(10deg , purple , red);
    }
    .btn-div a{
        color: purple;
        text-decoration: none;
    }
    .btn-div a:hover{
        color: blue;
        text-decoration-line: underline;
    }
</style>


    <div class="login-container">
        <form action="/sign_up/" method="post">
            {% csrf_token %}
            {% for i in messages %}
            <span>{{i}}</span>
            {% endfor %}
            <input type="text" required name="username" placeholder="USERNAME">
            <input type="text" required name="email_address" placeholder="EMAIL ADDRESS">
            <input type="text" required name="password" placeholder="PASSWORD">
            <div class="btn-div">
                <input class="btn" type="submit" value="REGISTER">
                <span>Already have an account ?<a href="/login/">Login</a></span>
            </div>
        </form>
    </div>




{% endblock %}


